.pickGuests {
    width: 100%;
    box-sizing: border-box;
    padding: 35px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: white;
}

.pickGuests_info {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.ageRange > p {
    font-size: 13px;
    color: grey;
}

.totalAgeRange {
    display: flex;
}

.totalAgeRange > p {
    margin: 0 10px;
    align-self: center;
}