.pickDate {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.pickDate_right {
    width: 100%;
    height: 385px;
    box-sizing: border-box;
    padding-top: 55px;
    background-color: white;
}

.pickDate_right > .MuiButton-root {
    font-family: inherit;
    width: 95%;
    margin: 5px;
    color: white;
    background-color: #ff7779;
    text-transform: none;
}

.MuiButton-root:hover {
    color:#ff7779;
    background-color: white;
}